In [12]:
#creating dependencies 
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo

In [13]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\squiros\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

# NASA Mars News

In [12]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [13]:
 # HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [15]:
 # Retrieve all elements that contain book information
news = soup.select_one('div.list_text')
news= news.find('div', class_='content_title').get_text()

In [17]:
paragraph= soup.select_one('div.list_text')
paragraph= paragraph.find('div', class_='article_teaser_body').get_text()

In [18]:
print(f"News Title: {news}")
print(f"News Paragraph: {paragraph}")

News Title: Deadline Closing for Names to Fly on NASA's Next Mars Rover
News Paragraph: You have until Sept. 30 to send your names to Mars aboard the Mars 2020 rover.

In [19]:
#closing the browser 
browser.quit()

# JPL Mars Space Images - Featured Image

In [3]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [4]:
 # HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [7]:
#creating the path for the image
image= browser.links.find_by_partial_text('FULL IMAGE').click()

# to keep connection with the website
html = browser.html
soup = BeautifulSoup(html,'html.parser')

featured_image_url = url + soup.find('img',class_='fancybox-image')['src']
print(f"Featured Image URL: {featured_image_url}")

Featured Image URL: https://spaceimages-mars.com/image/featured/mars3.jpg

In [ ]:
#closing the browser 
browser.quit()

# Mars Facts

In [14]:
#inserting the url
url= 'https://galaxyfacts-mars.com/'
browser.visit(url)
 # HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [15]:
mars_table= soup.find('table', class_="table table-striped")
mars_table= pd.read_html(str(mars_table))[0]
mars_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
mars_df = mars_table.rename(columns={ 0: "Characteristics", 1: "Facts"})
mars_df

        Characteristics                          Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
mars_df = mars_df.set_index('Characteristics') 
mars_df

                                              Facts
Characteristics
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers